<%- include("../partials/header") %>

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new campground</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="">

    <% campgrounds.forEach(c=>{ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="<%=c.image%>" alt="<%=c.name%>" class="card-img-top" style="height:200px; object-fit:cover">
        <div class="card-body">
          <div class="caption">
            <h4 class="card-title">
              <%=c.name%>
            </h4>
          </div>
          <p class="card-text">
            <a href="/campgrounds/<%= c._id %>" class="btn btn-primary">More Info</a>
          </p>
        </div>


      </div>
    </div>
    <% }) %>
  </div>

<%- include("../partials/footer") %>
